/* ========================================================= Colors ===*/
/*---Red:#e2383f;rgba(226,56,63,1); Gold:#b58d5c;rgba(181,141,92,1);---*/
/* ========================================================= Basics ===*/
html, body {
	background-color: #212121;
	background-image: url(../img/noise.png);
}
body {
	color: #ffffff;
	color: rgba(255,255,255,0.9);
	line-height: 1.6;
}
.container {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}
header {
	background-color: #000;
	padding: 0;
	margin: 0 0 24px 0;
	border-bottom: 1px solid rgba(226,56,63,1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
}
#logos {
	float: left;
	width: 280px;
	padding-top: 12px;
}
#logos a {
	outline: none;
}
img#cigar {
	float: right;
	z-index: 1000;
}
img#huplogo {
	padding: 0;
	margin: 0;
}
img#calogo {
	padding: 14px 0 0;
	margin: 0;
}
#headline {
	float: right;
	width: 650px;
	height: 190px;
	padding: 0px 20px 0 0;
	margin: 0 0 0 0px;
	background: url(../img/cigar.png) center right no-repeat;
}
#headline p {
	padding: 10px 390px 0 0;
	font-weight: normal;
	line-height: 1.7;
	text-transform: none;
}
#content {
	float: left;
	padding: 0 20px 15px;
	width: 653px;
	margin: 0 0 0 25px;
}
#rules{
	float: left;
	width: 250px;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.6);
	border-radius: 8px;
	padding: 15px 15px;
	margin: 0 0 20px 0;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.8), 0 1px 0 rgba(255,255,255,0.1) inset;
}
#tweets {
	float: left;
	width: inherit;
	margin: 12px 0 0 0;
}
footer {
	background: #000;
	color: rgba(255, 255, 255, 0.6);
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 1px solid rgba(226,56,63,1);
	box-shadow: 2px 0px 2px rgba(0,0,0,1);
}

footer p {padding: 8px 0 0;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Syncopate', sans-serif;
	font-weight: 400;
	text-shadow: 1px 2px 1px rgba(0,0,0,1);
	letter-spacing: normal; 
	text-transform: normal;
	padding: 4px 0 4px;
}
h1 {font-size: 22px;}
h2 {font-size: 21px;}
h3 {font-size: 20px;}
h4 {font-size: 19px;}
h5 {font-size: 18px;}
h6 {font-size: 17px;}

a:link {color:#b58d5c;color:rgba(181,141,92,1); text-decoration: none;} /*unvisited*/
a:visited {color:#b58d5c;color:rgba(181,141,92,1); text-decoration: none;} /*visited*/
a:hover {color:rgba(225,225,225,1); text-decoration: none;} /*mouse over*/
a:active {color:#fafafa; text-decoration: none;} /*selected*/

#headline h1 {
	text-align: right;
	font-size: 56px;
	line-height: 1;
	margin: 0;
	padding: 10px 0 0 0;
	color: white;
	text-transform: uppercase;
}
#rules ul{
	margin:0;
	padding:0;

}
#rules ul li{
	margin:0;
	padding:0;
	list-style: none;
}
#rules h2 {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1.2;
	text-shadow: 1px 2px 1px rgba(0,0,0,1);
	color: #e2383f;
	color: rgba(226,56,63,1);
}
#rules h3 {
	text-transform: uppercase;
	line-height: 1.2;
	text-shadow: 1px 2px 1px rgba(0,0,0,1);
	color: #ccc;
}
#rules h3 a{
	outline: none;
}
#intro {
	margin: 0;
	padding: 12px 8px 6px;
	background-color: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 8px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.1) inset;

}
#intro p {
	font-size: 20px;
	text-align: center;
	text-shadow: 1px 2px 1px rgba(0,0,0,1);
}
#intro h1 {
	color: #e2383f;
	color: rgba(226,56,63,1);
	font-size: 38px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 2px 1px rgba(0,0,0,1);
	padding: 0;
	margin: 0;
}
/*---accordian---*/
h2.accTitle {
	padding: 0;	margin: 0 0 0 0;
	height: 46px;
	width: 250px;
	float: left;
}
h2.accTitle a {
	text-decoration: none;
	display: block;
	padding: 0 0 0 0px;
}
h2.accTitle a:hover {
	color: #ccc;
}
.accContent {
	margin: 0 0 5px; padding: 0;
	overflow: hidden;
	width: 250px;
	clear: both;
	background: transparent;
}
.accContent .block {
	padding: 0px;
}
/*---sticky foot---*/
footer, .push {
    height: 37px;
}
.wrapper {
    height: auto !important;
    margin: 0 auto -37px;
    min-height: 100%;
}
/*--tweet stuff--*/
#la {
	color:#afafaf;
	color: rgba(244,244,244,1);
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
	padding:0;
	margin:0 0 0 4px;
}
#la .tweet {
	width: 196px;
	margin:0 4px 5px 0;
	padding: 8px;
	word-wrap: break-word;
	float:left;
	background-image: url(../img/noise.png);
	background-color: rgba(110,110,110,0.3);
	border: 0px solid rgba(110,110,110,0.7);
	border-radius: 4px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4), 0 1px 0 rgba(225,225,225,0.2) inset;
}
#la .tweet .time {
	font-size: 13px;
	font-style: italic;
	color:#afafaf;
	color: rgba(244,244,244,0.6);
}